audio{
    background-color: red;
    color: blue;
}

iframe{
    filter: grayscale(100%) invert(100%);
}

.video{
    width: 200px;
    height: 500px;
}

i{
    width: 200px;
    height: 200px;
    color: red;
}