*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @include flex();
    height: 100vh;
}

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    div{
        background-color: black;
        height: 300px;
        width: 300px;
        @include flex();
    }

    h1{
        color: white;
    }

    button{
        background-color: green;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 10px;
    }
}