h1{
    font-size: 40px;
    font-weight: lighter;
    background-color: red;
    opacity: 0.5;
}

a{
    text-decoration: none;
    color: green;
    font-style: italic;
}

p{
    text-align: center;
}

div{
    width: 200px;
    height: 200px;
    background-color: red;
}